{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'stylemp.css' %}">
</head>
<body>


<div class="container">
    <div class="card">
        <div class="content">
            <div class="card-image">

            </div>
            <div class="card-text">
                <h3>

                </h3>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="card-image">

            </div>
            <div class="card-text">

            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="card-image">

            </div>
            <div class="card-text">

            </div>
        </div>
    </div>
</div>


</body>
{#<head>#}
{##}
{#    <meta charset="UTF-8">#}
{#    <title>IBG Moving&amp;Delivery</title>#}
{##}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">#}
{#    <link rel="stylesheet" href="/static/stylemp.css">#}
{##}
{#</head>#}
{#<section id="benefits">#}
{#        <h2 class="section__title">Special Offers</h2>#}
{#        <ul class="cards">#}
{#            <li>#}
{#                <div class="card">#}
{#                    <img src="/static/images/handshake.jpg" class="card__image" alt="">#}
{#                    <div class="card__overlay">#}
{#                        <div class="card__header">#}
{#                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">#}
{#                                <path></path>#}
{#                            </svg>#}
{#                            <i class="fa-solid fa-people-group card__thumb"></i>#}
{#                            <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="">#}
{#                            <div class="card__header-text">#}
{#                                <h1 class="card__title">Affiliate Programm</h1>#}
{#                                <span class="card__status">5% off</span>#}
{#                            </div>#}
{#                        </div>#}
{#                        <p class="card__description">Tell us who promoted us to you and get 5% discount</p>#}
{#                    </div>#}
{#                </div>#}
{#            </li>#}
{#            <li>#}
{#                <div class="card">#}
{#                    <img src="/static/images/elderly.jpg" class="card__image" alt="">#}
{#                    <div class="card__overlay">#}
{#                        <div class="card__header">#}
{#                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">#}
{#                                <path></path>#}
{#                            </svg>#}
{#                            <i class="fa-solid fa-box-archive card__thumb"></i>#}
{#                            <div class="card__header-text">#}
{#                                <h3 class="card__title">Regular Customer</h3>#}
{#                                <span class="card__status">5% off</span>#}
{#                            </div>#}
{#                        </div>#}
{#                        <p class="card__description">If you have already used our service, you can get 5% discount</p>#}
{#                    </div>#}
{#                </div>#}
{#            </li>#}
{##}
{#            <li>#}
{#                <div class="card">#}
{#                    <img src="/static/images/elderly.jpg" class="card__image" alt="">#}
{#                    <div class="card__overlay">#}
{#                        <div class="card__header">#}
{#                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">#}
{#                                <path></path>#}
{#                            </svg>#}
{#                            <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="">#}
{#                            <div class="card__header-text">#}
{#                                <h3 class="card__title">If you are 60+</h3>#}
{#                                <span class="card__status">10% off</span>#}
{#                            </div>#}
{#                        </div>#}
{#                        <p class="card__description">You can qualify for a 10% discount if you are over 60 years old</p>#}
{#                    </div>#}
{#                </div>#}
{#            </li>#}
{#        </ul>#}
{#    </section>#}