{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'stylemp1.css' %}">
</head>
<body>

<div class="container">
    <div class="card">
        <div class="content">
            <h2>
                15
            </h2>
            <h3>
                PYTHON
            </h3>
            <p>

            </p>
            <a href="#">Read More</a>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2>
                30
            </h2>
            <h3>
                PYTHON
            </h3>
            <p>

            </p>
            <a href="#">Read More</a>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2>
                01
            </h2>
            <h3>
                PYTHON
            </h3>
            <p>

            </p>
            <a href="#">Read More</a>
        </div>
    </div>
</div>


</body>
