{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@700&family=Ubuntu:ital,wght@0,300;0,400;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="{% static 'sofistyle.css' %}">
    <title>Proschool</title>
</head>
<body>
<header>
    <div class="header">
        <div class="logo">
            PROSCHOOL
        </div>
        <nav>
            <ul class="nav">
                <li><a href="">home</a></li>
                <li><a href="">courses</a></li>
                <li>
                    <button class="nav_btn" type="button">contact</button>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="page">
    <div class="wrap">
        <h1 class="title-main">Обучение программированию в Proschool</h1>
        <p class="text-main">Курсы по веб разработке на python для новичков</p>
        <p class="text-main">Вы освоите профессию разработчика</p>
        <p class="text-main">с нуля и изучите популярный и перспективный язык программирования</p>
        <button type="button" class="button">Contact Us</button>
    </div>
</div>
<div class="page page-top">
    <div class="wrap">
        <h2>НАШИ КУРСЫ</h2>
        <div class="courses">
            <div class="courses-item">
                <img src="img/icon1.png" alt="">
                <div>
                    <h3>Курсы программирования, которые доступны каждому</h3>
                    <p>Мы уверены, что получение новой профессии в программировании может быть интересным и безболезненным, даже если вы никогда не писали код</p>
                </div>
            </div>
            <div class="courses-item">
                <img src="img/icon2.png" alt="">
                <div>
                    <h3>Идеально для быстрого старта в новой востребованной профессии</h3>
                    <p>Python - самый простой язык для старта,к тому же, его популярность быстро растет. Знание этого современного языка программирования поможет вам открыть путь в топовые IT-компании</p>
                </div>
            </div>
            <div class="courses-item">
                <img src="img/icon3.png" alt="">
                <div>
                    <h3>Поддержка от нашей дружной команды</h3>
                    <p>Команда преподавателей и кураторов всегда будет рядом и ответит на все ваши вопросы. Вы обретете новое окружение и множество контактов в IT-сфере</p>
                </div>
            </div>
            <div class="courses-item">
                <img src="img/icon4.png" alt="">
                <div>
                    <h3>Большое количество практики, проектов и заданий</h3>
                    <p>Мы поможем вам создать портфолио для трудоустройства. После обучения вы будете полностью готовы к собесдованиям</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page page-top">
    <div class="wrap">
        <h2>НАША КОМАНДА</h2>
        <div class="team">
            <div class="team-item">
                <img src="" alt="">
                <div>
                    <h3>Семён</h3>
                    <p>Backend разработчик</p>
                </div>
            </div>
            <div class="team-item">
                <img src="" alt="">
                <div>
                    <h3>София</h3>
                    <p>Frontend разработчик</p>
                </div>
            </div>
            <div class="team-item">
                <img src="" alt="">
                <div>
                    <h3>Дима</h3>
                    <p>Full stack разработчик</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>